In [49]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

import json # library to handle JSON files

!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from bs4 import BeautifulSoup # library to parse HTML and XML documents

from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print("Libraries imported.")

Solving environment: done

# All requested packages already installed.

Solving environment: done

## Package Plan ##

  environment location: /opt/conda/envs/Python36

  added / updated specs:
    - folium=0.5.0


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    vincent-0.4.4              |             py_1          28 KB  conda-forge
    altair-4.1.0               |             py_1         614 KB  conda-forge
    branca-0.4.0               |             py_0          26 KB  conda-forge
    folium-0.5.0               |             py_0          45 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         713 KB

The following NEW packages will be INSTALLED:

    altair:  4.1.0-py_1 conda-forge
    branca:  0.4.0-py_0 conda-forge
    folium:  0.5.0-py_0 conda-forge
    vincent: 0.4.4-py_1 conda-forge


Downloading and Extracting Packages
vincent-0.4.4        | 28 KB     | ##################################### | 100%
altair-4.1.0         | 614 KB    | ##################################### | 100%
branca-0.4.0         | 26 KB     | ##################################### | 100%
folium-0.5.0         | 45 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Libraries imported.

In [50]:
# send the GET request
data = requests.get("https://en.wikipedia.org/wiki/Category:Suburbs_in_Kuala_Lumpur").text

In [51]:
# parse data from the html into a beautifulsoup object
soup = BeautifulSoup(data, 'html.parser')

In [52]:
# create a list to store neighborhood data
neighborhoodList = []

In [53]:
# append the data into the list
for row in soup.find_all("div", class_="mw-category")[0].findAll("li"):
    neighborhoodList.append(row.text)

In [54]:
# create a new DataFrame from the list
kl_df = pd.DataFrame({"Neighborhood": neighborhoodList})

kl_df.head()

            Neighborhood
0             Alam Damai
1   Ampang, Kuala Lumpur
2       Bandar Menjalara
3  Bandar Sri Permaisuri
4   Bandar Tasik Selatan

In [55]:
# print the number of rows of the dataframe
kl_df.shape

(71, 1)

##3. Get the geographical coordinates

In [80]:
# define a function to get coordinates
def get_latlng(neighborhood):
    # initialize your variable to None
    lat_lng_coords = None
    # loop until you get the coordinates
    while(lat_lng_coords is None):
        g = geocoder.arcgis('{}, Kuala Lumpur, Malaysia'.format(neighborhood))
        lat_lng_coords = g.latlng
    return lat_lng_coords

In [ ]:
# call the function to get the coordinates, store in a new list using list comprehension
coords = [get_latlng(neighborhood) for neighborhood in kl_df["Neighborhood"].tolist()]

[[3.0576900000000364, 101.74388000000005],
 [3.158092785454847, 101.74870260727259],
 [3.1903500000000236, 101.62545000000006],
 [3.1039100000000417, 101.71226000000007],
 [3.072620000000029, 101.71471000000008],
 [3.08280000000002, 101.72281000000004],
 [3.1292000000000257, 101.67844000000008],
 [3.1347800000000348, 101.67262000000005],
 [3.111020000000053, 101.66283000000004],
 [3.09898000000004, 101.73499000000004],
 [3.09898000000004, 101.73499000000004],
 [3.12916000000007, 101.68406000000004],
 [3.147770000000037, 101.70855000000006],
 [3.057800000000043, 101.68965000000009],
 [3.1434800000000678, 101.64433000000008],
 [3.1520079194122164, 101.70102829894834],
 [3.129290000000026, 101.69892000000004],
 [3.17381000000006, 101.68276000000009],
 [3.061870000000056, 101.74675000000008],
 [3.163590000000056, 101.69811000000004],
 [3.147980000000075, 101.66798000000006],
 [3.1413156714557724, 101.62607997785557],
 [3.1413156714557724, 101.62607997785557],
 [3.155238081462032, 101.70152004297655],
 [3.08331000000004, 101.70438000000007],
 [3.1363700000000563, 101.68564000000003],
 [3.201630000000023, 101.72107000000005],
 [3.132961658243644, 101.72470311855207],
 [3.179388043398946, 101.67745432110556],
 [3.209500000000048, 101.65874000000008],
 [3.165460000000053, 101.71028000000007],
 [3.166400000000067, 101.73046000000005],
 [3.2175000000000296, 101.63763000000006],
 [3.117110000000025, 101.67349000000007],
 [3.0907400000000393, 101.67733000000004],
 [3.121216228040549, 101.66389741147111],

In [58]:
coords

NameError: name 'coords' is not defined

In [81]:
# create temporary dataframe to populate the coordinates into Latitude and Longitude
df_coords = pd.DataFrame(coords, columns=['Latitude', 'Longitude'])

NameError: name 'coords' is not defined

In [ ]:
# merge the coordinates into the original dataframe
kl_df['Latitude'] = df_coords['Latitude']
kl_df['Longitude'] = df_coords['Longitude']

In [60]:
# check the neighborhoods and the coordinates
print(kl_df.shape)
kl_df

(71, 1)

                    Neighborhood
0                     Alam Damai
1           Ampang, Kuala Lumpur
2               Bandar Menjalara
3          Bandar Sri Permaisuri
4           Bandar Tasik Selatan
5               Bandar Tun Razak
6                        Bangsar
7                   Bangsar Park
8                  Bangsar South
9                 Batu 11 Cheras
10            Batu, Kuala Lumpur
11                   Brickfields
12                 Bukit Bintang
13                   Bukit Jalil
14                   Bukit Kiara
15                   Bukit Nanas
16                Bukit Petaling
17                   Bukit Tunku
18          Cheras, Kuala Lumpur
19                      Chow Kit
20             Damansara Heights
21         Damansara Town Centre
22       Damansara, Kuala Lumpur
23                    Dang Wangi
24                 Desa Petaling
25    Federal Hill, Kuala Lumpur
26                  Happy Garden
27  Jalan Cochrane, Kuala Lumpur
28                    Jalan Duta
29                       Jinjang
30    Kampung Baru, Kuala Lumpur
31         Kampung Datuk Keramat
32         Kampung Padang Balang
33                        Kepong
34                   KL Eco City
35                   Kuchai Lama
36                 Lembah Pantai
37                        Maluri
38                  Medan Tuanku
39                       Miharja
40                    Mont Kiara
41                  Pantai Dalam
42            Pudu, Kuala Lumpur
43                     Putrajaya
44                   Salak South
45                      Segambut
46                       Semarak
47          Sentul, Kuala Lumpur
48                       Setapak
49                   Setiawangsa
50                      Shamelin
51                  Sri Hartamas
52                  Sri Petaling
53                   Sungai Besi
54            Taman Bukit Maluri
55         Taman Cheras Hartamas
56               Taman Connaught
57                    Taman Desa
58                 Taman Ibukota
59                Taman Len Seng
60                  Taman Melati
61                   Taman Midah
62                     Taman OUG
63               Taman P. Ramlee
64               Taman Sri Sinar
65            Taman Taynton View
66           Taman Tun Dr Ismail
67                 Taman U-Thant
68                   Taman Wahyu
69                    Titiwangsa
70                   Wangsa Maju

In [61]:
# save the DataFrame as CSV file
kl_df.to_csv("kl_df.csv", index=False)

In [62]:
# get the coordinates of Kuala Lumpur
address = 'Kuala Lumpur, Malaysia'

geolocator = Nominatim(user_agent="my-application")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of Kuala Lumpur, Malaysiae {}, {}.'.format(latitude, longitude))

The geograpical coordinate of Kuala Lumpur, Malaysiae 3.1516964, 101.6942371.

In [87]:
# create map of Toronto using latitude and longitude values
map_kl = folium.Map(location=[latitude, longitude], zoom_start=11)

    
map_kl

In [88]:
# save the map as HTML file
map_kl.save('map_kl.html')

In [92]:
# define Foursquare Credentials and Version
CLIENT_ID = 'JY4D0W3P4QDFHU50EPHSUPIAUG242IFDOSCH50HMRNLJGLI1' # your Foursquare ID
CLIENT_SECRET = 'DK3NVTB4ZREU1SCC3OCNIUAXCX1OSSCAG5J5XXUL5P0YYKH4' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: JY4D0W3P4QDFHU50EPHSUPIAUG242IFDOSCH50HMRNLJGLI1
CLIENT_SECRET:DK3NVTB4ZREU1SCC3OCNIUAXCX1OSSCAG5J5XXUL5P0YYKH4

In [97]:
# Now, let's get the top 100 venues that are within a radius of 2000 meters.
radius = 2000
LIMIT = 100

venues = []

for lat, long, neighborhood in zip(kl_df['Latitude'], kl_df['Longitude'], kl_df['Neighborhood']):
    
    # create the API request URL
    url = "https://api.foursquare.com/v2/venues/explore?client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}".format(
        CLIENT_ID,
        CLIENT_SECRET,
        VERSION,
        lat,
        long,
        radius, 
        LIMIT)
    
    # make the GET request
    results = requests.get(url).json()["response"]['groups'][0]['items']
    
    # return only relevant information for each nearby venue
    for venue in results:
        venues.append((
            neighborhood,
            lat, 
            long, 
            venue['venue']['name'], 
            venue['venue']['location']['lat'], 
            venue['venue']['location']['lng'],  
            venue['venue']['categories'][0]['name']))

KeyError: 'Latitude'

In [ ]:
# convert the venues list into a new DataFrame
venues_df = pd.DataFrame(venues)

# define the column names
venues_df.columns = ['Neighborhood', 'Latitude', 'Longitude', 'VenueName', 'VenueLatitude', 'VenueLongitude', 'VenueCategory']

print(venues_df.shape)
venues_df.head()

In [ ]:
# Now we will check how many venues were returned for each neighorhood

venues_df.groupby(["Neighborhood"]).count()

In [ ]:
# How many unique categories can be curated from all the returned venues

print('There are {} uniques categories.'.format(len(venues_df['VenueCategory'].unique())))

In [ ]:

# print out the list of categories
venues_df['VenueCategory'].unique()[:50]

In [ ]:
# check if the results contain "Shopping Mall"
"Neighborhood" in venues_df['VenueCategory'].unique()

In [ ]:
#6. Analyze Each Neighborhood
# one hot encoding
kl_onehot = pd.get_dummies(venues_df[['VenueCategory']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
kl_onehot['Neighborhoods'] = venues_df['Neighborhood'] 

# move neighborhood column to the first column
fixed_columns = [kl_onehot.columns[-1]] + list(kl_onehot.columns[:-1])
kl_onehot = kl_onehot[fixed_columns]

print(kl_onehot.shape)
kl_onehot.head()

In [ ]:
# Next, let's group rows by neighborhood and by taking the mean of the frequency of occurrence of each category


kl_grouped = kl_onehot.groupby(["Neighborhoods"]).mean().reset_index()

print(kl_grouped.shape)
kl_grouped

In [45]:
len(kl_grouped[kl_grouped["Shopping Mall"] > 0])

NameError: name 'kl_grouped' is not defined

In [46]:
#Create a new DataFrame for Shopping Mall data only
kl_mall = kl_grouped[["Neighborhoods","Shopping Mall"]]

NameError: name 'kl_grouped' is not defined

In [47]:
kl_mall.head()

NameError: name 'kl_mall' is not defined

In [48]:
#7. Cluster Neighborhoods
# Run k-means to cluster the neighborhoods in Kuala Lumpur into 3 clusters.
# set number of clusters

kclusters = 3

kl_clustering = kl_mall.drop(["Neighborhoods"], 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(kl_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10]

NameError: name 'kl_mall' is not defined

In [ ]:
# create a new dataframe that includes the cluster as well as the top 10 venues for each neighborhood.
kl_merged = kl_mall.copy()

# add clustering labels
kl_merged["Cluster Labels"] = kmeans.labels_

In [ ]:
kl_merged.rename(columns={"Neighborhoods": "Neighborhood"}, inplace=True)
kl_merged.head()

In [ ]:
# merge toronto_grouped with toronto_data to add latitude/longitude for each neighborhood
kl_merged = kl_merged.join(kl_df.set_index("Neighborhood"), on="Neighborhood")

print(kl_merged.shape)
kl_merged.head() # check the last columns!

In [ ]:
# sort the results by Cluster Labels
print(kl_merged.shape)
kl_merged.sort_values(["Cluster Labels"], inplace=True)
kl_merged

In [ ]:
# create map
# Finally, let's visualize the resulting clusters

map_clusters = folium.Map(location=[latitude, longitude], zoom_start=11)

# set color scheme for the clusters
x = np.arange(kclusters)
ys = [i+x+(i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(kl_merged['Latitude'], kl_merged['Longitude'], kl_merged['Neighborhood'], kl_merged['Cluster Labels']):
    label = folium.Popup(str(poi) + ' - Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(map_clusters)
       
map_clusters

In [ ]:
# save the map as HTML file
map_clusters.save('map_clusters.html')

In [ ]:
#8. Examine Clusters
kl_merged.loc[kl_merged['Cluster Labels'] == 0]

In [ ]:
#Cluster 1
kl_merged.loc[kl_merged['Cluster Labels'] == 1]

In [ ]:
##Cluster 2
kl_merged.loc[kl_merged['Cluster Labels'] == 2]